* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    height: auto;
    position: relative;
}

.header nav {
    background: #7E49ED;
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header nav h1 {
    font-size: 1.9em;
    font-weight: bold;
}

.main1 {
    width: 100%;
    height: 80vh !important;
    display: flex;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.main1.active {
    filter: blur(3px);
    pointer-events: none;
    transition: .3s ease;
    transition-delay: .2s;
}
.signUpForm{
    width: 450px;
    height: auto;
    transition: all .3s ease-in-out;
    box-shadow: 0px 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 0.5em;
    display: flex;
    padding: 30px 20px;
    justify-content: center;
    transform: scale(.9);
    transition-delay: .0s;
    opacity: 0;
    pointer-events: none;
}
.loginForm {
    width: 450px;
    height: auto;
    transition: all .3s ease-in-out;
    box-shadow: 0px 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 0.5em;
    display: flex;
    padding: 30px 20px;
    justify-content: center;
    transform: scale(.9);
    transition-delay: .0s;
    pointer-events: auto;
    opacity: 1;
    
}

.loginForm.active{
    opacity: 0;
    pointer-events: none;
    transform: scale(1);
    transition: .2s ease;
    transition-delay: .1s;
}
.signUpForm.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: .2s ease;
    transition-delay: .1s;
}
.Btn1 {
    width: 150px;
    font-size: 1.2em;
    border: none;
    border-top: 1px solid #000000;
    border-radius: 0.5em 0em 0em;
    font-weight: 600;
    cursor: pointer;
    background: transparent;
    margin: 0px 10px;
    padding: 8px 20px;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.Btn1:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -2;
}

.Btn1:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background: #000000;
    height: 100%;
    border: 1px solid #000000;
    transition: all 0.3s;
    z-index: -1;
}

.Btn1:hover:before {
    width: 99.6%;
}

.Btn1:hover {
    color: #ffffff;
    transform: scale(1.05);

}

.Btn1:active {
    transform: translateY(-2px) translateX(2px);
}


.content {
    margin-top: -20px;
}

.signUpForm {
    position: absolute;
}


.heading1 h1 {
    font-size: 2em;
    text-align: center;
    margin: 10px 0px;
}

.email-box,
.pass-box,
.name-box,
.number-box {
    margin: 15px 10px;
}

.email-box h1,
.pass-box h1,
.name-box h1,
.number-box h1 {
    font-size: 20px;
    margin-bottom: 5px;
}

.email-box input,
.pass-box input,
.name-box input,
.number-box input {
    width: 350px;
    height: 35px;
    border-radius: 0.5em;
    outline: none;
    padding: 20px 10px;
    border: 1px solid #424242;
    font-size: 1.3em;
    transition: all 0.3s ease;
    background: transparent
}

::placeholder {
    color: #5f5f5f9a;
}

.email-box input:hover,
.pass-box input:hover,
.name-box input:hover,
.number-box input:hover {
    border: 1px solid #000;
    box-shadow: 0 0px 3px #000;
}

.email-box input:focus,
.pass-box input:focus {
    border: 1px solid #000;
    box-shadow: 0 0px 3px #000;
}

.msg p {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    letter-spacing: .5px;
}

.msg span {
    color: #000000;
    cursor: pointer;
    font-weight: bold;
}

.msg span:hover {
    opacity: .8;
    text-decoration: underline;

}

.pass-box-pass {
    display: flex;
    justify-content: space-between;
}

.pass-box-pass span {
    display: flex;
}

.pass-box-pass span p {
    font-size: 1.2em;
    margin-right: 5px;
}

.pass-box-pass input {
    width: 15px;
    height: 15px;
    margin-top: 3px;
}

.pass-box-pass input:hover {
    border: none;
    box-shadow: none;
}

.pass-box-pass input:focus {
    border: none;
    box-shadow: none;
}


.main {
    background-color: transparent;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    pointer-events: auto;
    opacity: 1;
    transition-delay: 0s;
}

.main.active {
    filter: blur(3px);
    pointer-events: none;
    transition: .3s ease;
    transition-delay: .1s;
}


#Logout-btn,
.cancel-btn {
    font-size: 1.2em !important;
    width: 100% !important;
    margin-top: 30px !important;
}



.loader,
.loader1 {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
}

.loader.active,
.loader1.active {
    opacity: 1;
    pointer-events: auto;
    transition: .3s ease;
    transition-delay: .2s;

}

.custom-loader1 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: conic-gradient(#ffffff00 10%, #000000);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000 0) !important;
    animation: s3 1s infinite linear;
}

.custom-loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(#ffffff00 10%, #000000);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 16px), #000 0);
    animation: s3 1s infinite linear;
}

@keyframes s3 {
    to {
        transform: rotate(1turn)
    }
}


@media only screen and (max-width:500px) {
    nav h1 {
        font-size: 1.5em;
    }


    .update-profile-btn,
    #Logout-btn {
        font-size: 16px;
    }

    .pngImag1,
    .pngImag2 {
        width: 20px;
        height: 20px;
    }

    .custom-loader1 {
        margin-bottom: 10px;
    }

    .custom-loader {
        width: 60px;
        height: 60px;
        -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000 0);
    }

    .image img {
        width: 70px;
        height: 70px;
    }

    .pass-box-pass span p {
        font-size: 0.8em;
        margin-right: 5px;
        margin-top: 3px;
    }

    .loginForm,
    .signUpForm {
        width: 98%;
    }

    .email-box input,
    .pass-box input,
    .name-box input,
    .number-box input {
        width: 100%;
    }

    .main h1 {
        font-size: 1em;
        margin-top: 5px;
    }

    .btns-group {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .btns-group button {
        font-size: 1em;
        width: 200px;
        margin-top: 0px;
        margin-bottom: 5px;
        margin-left: 10px;
    }

    .email-box h1,
    .pass-box h1,
    .name-box h1,
    .number-box h1 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .email-box,
    .pass-box,
    .name-box,
    .number-box {
        margin: 10px 10px;
    }

    .heading h1 {
        font-size: 1.5em;
    }

    nav p {
        font-size: 1.3em;
    }

    .email-box input,
    .pass-box input,
    .name-box input,
    .number-box input {
        font-size: 1em;
    }

    .Btn {
        width: 150px;
        font-size: 1.2em;
    }

    .camera-icon {
        top: 54px;

    }
}

@media only screen and (max-width:360px) {
    nav h1 {
        font-size: 1.2em;
    }

    .details {
        margin-right: 10px;
    }
}

@media only screen and (max-width:400px) {
    .details-box p {
        font-size: 20px;
    }

}


@media only screen and (max-width: 1024px) {
    .box {
        width: 100%;
        height: auto;
    }
}